<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href = "/css/styles.css" rel = "stylesheet" />
  <title>DT Market Place</title>
</head>
<body>
  <header class="header">
    <img src = "/assets/logo.jpg" class="img"/>
    <h1 id = "indexTitle">DT Market Place</h1>
  </header>
  <h2 class = "titles">Edit Product Page</h2>

  <div class="editStyle">
  <form action="/items/productslist/<%=item.id%>?_method=PUT" method="POST">
    Name: <input type = "text" name="name" value="<%=item.name%>" class="input-box" /><br/>
    Description: <input type = "text" name="description"  value="<%=item.description%>" class="input-box" /><br/>
    Image: <input type = "text" name="img" value="<%=item.img%>" class="input-box" /><br/>
    Price: <input type = Number name="price" value="<%=item.price%>" class="input-box" /><br/>
    Qty: <input type = Number name="qty" value="<%=item.qty%>" class="input-box" /><br/>
    <input type = "submit" name="" value = "Submit Changes" class="submitOfEdit"/>
  </form>
  </div>

</body>
</html>