<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href = "/css/styles.css" rel = "stylesheet" />
  <title>DT Market Place</title>
</head>
<body>
  <header class="header">
    <img src = "/assets/logo.jpg" class="img"/>
    <h1 id = "indexTitle">DT Market Place</h1>
  </header>

  <form action="/items/productslist/<%=item.id%>?_ method=PUT" method="POST">
    Name: <input type = "text" name="name" value="<%=item.name%>" /><br/>
    Description: <input type = "text" name="description"  value="<%=item.description%>"/><br/>
    Image: <input type = "text" name="img" value="<%=item.img%>" /><br/>
    Price: <input type = Number name="price" value="<%=item.price%>" /><br/>
    Qty: <input type = Number name="qty" value="<%=item.qty%>" /><br/>
    <input type = "submit" name="" value = "Submit Changes"/>

  </form>
</body>
</html>