<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet"/>
  <title>Show Page</title>
</head>
<body>
  <header class="header">
    <img src = "/assets/logo.jpg" class="img"/>
    <h1 id = "indexTitle">DT Market Place</h1>
  </header>
  <h2 class="titles">List of Products</h2>
  

  <nav class="newPro">
    <a href="/items/productslist/new">Add a New Product</a>
  </nav>

  <ul class="listStyles">
    <% for(let i =0; i <item.length; i++){ %>
      <li>
       <div class="showType">

        <p class="showstyles"><%=item[i].name%> </p>      
        <img class="showImg" src = <%= item[i].img %> > </br>
        
        <p id="showDescription"> <%= item[i].description; %> </p>

        <% if(item[i].qty > 0){ %>
          <p id="priceRem"><%=item[i].qty%> in stock </p>
          <form action="/items/productslist/<%=item[i].id%>/buy?_method=PUT" method="POST">
            <input class ="buy" type="submit" value="BUY"/>
          </form>
      
          <% } else { %>
              <p class="outOfStock">"Out of Stock"</p>
          <% } %>

        <p id="showPrice">Price: $<%=item[i].price %></p> </br>

       
        <div class="editDelete">
          <nav>
          <button>
              <a href="/items/productslist/<%=item[i].id%>/edit" class="showEdit">Edit</a>
            </button> 
          </nav>
  
          <form action="/items/productslist/<%=item[i].id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="deleteBtn" />
          </form>
        </div>        

       </div>        
  
      </li>

   <% } %>
  </ul>
  <button class="backOfShow"><a href="/items" class="showBack" >BACK</a></button>


</body>
</html>