<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet"/>
  <title>Show Page</title>
</head>
<body>
  <h1 id = "indexTitle">DT Market Place</h1>
  <h2>List of Products</h2>
  

  <nav class="newPro">
    <a href="/items/productslist/new">Add a New Product</a>
  </nav>

  <ul>
    <% for(let i =0; i <item.length; i++){ %>
      <li>
       
        <p><%=item[i].name%> </p>      
        <img class="showImg" src = <%= item[i].img %> > </br>
        <p id="showDescription"> <%= item[i].description; %> </p>
       <p id="showPrice">Price: $<%=item[i].price %></p>

       <% if(item[i].qty > 0){ %>
        <p id="priceRem"><%=item[i].qty%> in stock </p>
        <form action="/items/<%=item[i].id%>/buy?_method=PUT" method="POST">
          <input class ="buy" type="submit" value="BUY"/>
        </form>
    
        <% } else { %>
            <p class="outOfStock">"Out of Stock"</p>
        <% } %>
      <nav>
        <a href="/items/<%=item[i].id%>/edit" class="showEdit">Edit</a> </br>   
      </nav>

      <form action="/items/<%=item[i].id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" class="deleteBtn" />
      </form>
  
      </li>

   <% } %>
  </ul>
  <a href="/items" class="showBack">BACK</a>


</body>
</html>